* {
  margin: 0;
  padding: 0;
}

body {
  background-color: rgb(49, 51, 51);
  display: flex;
  justify-content: center;
}

/* Contenedor donde se encuentran las 6 caras del dado */
.dado {
  display: flex;
  flex-wrap: wrap; /* los contenedores hijos se ordenan dentro del contenedor "dado" */
  justify-content: space-around; /* los contenedores hijos se distribuyen horizontalmente con espacios iguales*/
  align-items: center; /* los contenedores hijos se centran verticalmente dentro del contenedor padre */
  width: 25%;
  height: 250px;
}

/* Cara con el numero 1 */
.cara-1 {
  display: flex;
  width: 100px;
  height: 100px;
  background-color: rgb(255, 255, 255);
  border-radius: 10px;
  justify-content: center; /* se centra el punto 1 horizontalmente dentro de cara 1 */
  align-items: center; /* se centra el punto 1 verticalmente dentro de cara 1 */
}

/* se crea el punto 1 para la cara 1 */
.cara-1 span {
  width: 20px;
  height: 20px;
  background-color: black;
  border-radius: 10px;
}

/* Cara con el numero 2 */
.cara-2 {
  display: flex;
  width: 100px;
  height: 100px;
  background-color: rgb(255, 255, 255);
  border-radius: 10px;
  flex-direction: column; /* se cambia la dirección de los puntos 1 y 2 a columnas */
  justify-content: space-around; /* los puntos se distribuyen equidistantes en el eje Y */
}

.cara-2-div-punto-1 {
  display: flex;
}

/* se crea el punto 1 para la cara 2 */
.cara-2-div-punto-1 span {
  width: 20px;
  height: 20px;
  background-color: black;
  border-radius: 10px;
  margin-left: 15px; /* se le da la ubicación al punto 1 */
}

.cara-2-div-punto-2 {
  display: flex;
  justify-content: flex-end; /* se mueve el punto 2 al final del contendor */
}

/* se crea el punto 2 para la cara 2 */
.cara-2-div-punto-2 span {
  width: 20px;
  height: 20px;
  background-color: black;
  border-radius: 10px;
  margin-right: 15px;
}

/* Cara con el numero 3 */
.cara-3 {
  display: flex;
  width: 100px;
  height: 100px;
  background-color: rgb(255, 255, 255);
  border-radius: 10px;
  justify-content: space-around; /* se distrubuyen los 3 contendeores "punto" equidistantes en eje X */
  align-items: center; /* se centran los contenedores "punto" verticalmente */
}

.cara-3-div-punto-1 {
  display: flex;
  height: 100%; /* se ubica el punto 1 en su posición */
}

/* se crea el punto 1 para la cara 3 */
.cara-3-div-punto-1 span {
  width: 20px;
  height: 20px;
  background-color: black;
  border-radius: 10px;
  margin-top: 10px;
}

.cara-3-div-punto-2 {
  display: flex; /* se ubica el punto 2 en su posición */
}

/* se crea el punto 2 para la cara 3 */
.cara-3-div-punto-2 span {
  width: 20px;
  height: 20px;
  background-color: black;
  border-radius: 10px;
}

.cara-3-div-punto-3 {
  display: flex;
  height: 100%;
  align-items: flex-end; /* se ubica el punto 3 al final de su posición */
}

/* se crea el punto 3 para la cara 3 */
.cara-3-div-punto-3 span {
  width: 20px;
  height: 20px;
  background-color: black;
  border-radius: 10px;
  margin-bottom: 10px;
}

/* Cara con el numero 4 */
.cara-4 {
  display: flex;
  width: 100px;
  height: 100px;
  background-color: rgb(255, 255, 255);
  border-radius: 10px;
  justify-content: space-around; /* se distrubuyen los 2 contendeores "punto" equidistantes en eje X */
}

.cara-4-div-punto-1-2 {
  display: flex;
  flex-direction: column; /* el contenedor con los puntos 1 y 2 se cambia a columna */
  justify-content: space-around; /* los puntos 1 y 2 se distribuyen equidistantes en el eje Y */
}

/* se crean los puntos 1 y 2 para la cara 4 */
.cara-4-div-punto-1-2 span {
  width: 20px;
  height: 20px;
  background-color: black;
  border-radius: 10px;
}

.cara-4-div-punto-3-4 {
  display: flex;
  flex-direction: column; /* el contenedor con los puntos 3 y 4 se cambia a columna */
  justify-content: space-around; /* los puntos 3 y 4 se distribuyen equidistantes en el eje Y */
}

/* se crean los puntos 3 y 4 para la cara 4 */
.cara-4-div-punto-3-4 span {
  width: 20px;
  height: 20px;
  background-color: black;
  border-radius: 10px;
}

/* Cara con el numero 5 */
.cara-5 {
  display: flex;
  width: 100px;
  height: 100px;
  background-color: rgb(255, 255, 255);
  border-radius: 10px;
  justify-content: space-around; /* se distrubuyen los 3 contendeores "punto" equidistantes en eje X */
}

.cara-5-div-punto-1-2 {
  display: flex;
  flex-direction: column; /* el contenedor con los puntos 1 y 2 se cambia a columna */
  justify-content: space-around; /* los puntos 1 y 2 se distribuyen equidistantes en el eje Y */
}

/* se crean los puntos 1 y 2 para la cara 5 */
.cara-5-div-punto-1-2 span {
  width: 20px;
  height: 20px;
  background-color: black;
  border-radius: 10px;
}

.cara-5-div-punto-3 {
  display: flex;
  align-items: center; /* se centra verticalmente el punto 3 */
}

/* se crean los punto 3 para la cara 5 */
.cara-5-div-punto-3 span {
  width: 20px;
  height: 20px;
  background-color: black;
  border-radius: 10px;
}

.cara-5-div-punto-4-5 {
  display: flex;
  flex-direction: column; /* el contenedor con los puntos 4 y 5 se cambia a columna */
  justify-content: space-around; /* los puntos 4 y 5 se distribuyen equidistantes en el eje Y */
}

/* se crean los puntos 4 y 5 para la cara 5 */
.cara-5-div-punto-4-5 span {
  width: 20px;
  height: 20px;
  background-color: black;
  border-radius: 10px;
}

/* Cara con el numero 6 */
.cara-6 {
  display: flex;
  width: 100px;
  height: 100px;
  background-color: rgb(255, 255, 255);
  border-radius: 10px;
  justify-content: space-around; /* se distrubuyen los 2 contendeores "punto" equidistantes en eje X */
}

.cara-6-div-punto-1-2-3 {
  display: flex;
  flex-direction: column; /* el contenedor con los puntos 1, 2 y 3 se cambia a columna */
  justify-content: space-around; /* los puntos 1, 2 y 3 se distribuyen equidistantes en el eje Y */
}

/* se crean los puntos 1, 2 y 3 para la cara 6 */
.cara-6-div-punto-1-2-3 span {
  width: 20px;
  height: 20px;
  background-color: black;
  border-radius: 10px;
}

.cara-6-div-punto-4-5-6 {
  display: flex;
  flex-direction: column; /* el contenedor con los puntos 4, 5 y 6 se cambia a columna */
  justify-content: space-around; /* los puntos 4, 5 y 6 se distribuyen equidistantes en el eje Y */
}

/* se crean los puntos 4, 5 y 6 para la cara 6 */
.cara-6-div-punto-4-5-6 span {
  width: 20px;
  height: 20px;
  background-color: black;
  border-radius: 10px;
}